{{> welcome-menu}}

<div class="hero bg-base-200 mx-auto items-center h-96">
  <div class="text-center hero-content">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Welcome to Placemark!</h1>
      <p class="py-6">Please sign up or log in to get started.</p>
    </div>
  </div>
</div>