<div class="navbar bg-opacity-90 w-full">
  {{> placemark-brand}}
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </div>
</div>
<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>