<div class="navbar bg-opacity-90 w-full">
  {{> placemark-brand}}
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0">
      <li><a href="/">Home</a></li>
      <li><a href="/login">Log In</a></li>
      <li><a href="/signup">Sign Up</a></li>
    </ul>
  </div>
</div>
<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>