<div class="navbar bg-primary text-primary-content w-full">
  {{> placemark-brand}}
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0">
      <li><a>Log In</a></li>
      <li><a>Sign Up</a></li>
    </ul>
  </div>
</div>
<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>